.afterSlider {
  width: 21.7em;
  font-size: small;
}

.afterNewArrival {
  width: 34.5em;
}

.afterNewArrival2 {
  width: 22.8em;
}

.afterNewArrival2Button {
  background-color: #002745 !important;
  color: white !important;
  width: 50%;
  height: 3em;
}

.afterNewArrival2Button:hover {
  background-color: #000000 !important ;
}

.afterNewArrival2Button2 {
  background-color: #002745 !important;
  color: white !important;
  width: 50%;
  height: 3em;
}

.afterNewArrival2Button2:hover {
  background-color: #333333 !important ;
}

.aboutUsPic {
  width: 30em;
}

.aboutUs {
  width: 38em;
}

@media screen and (max-width: 1199.5px) {
  .afterNewArrival {
    width: 28.5em;
  }
  .afterNewArrival2 {
    width: 18.8em;
  }
  .aboutUsPic {
    width: 26em;
  }

  .aboutUs {
    width: 30em;
  }
}

/* after php */
.card-img-css {
  height: 20rem;
  padding: 1rem;
  transition: all ease 1s;
  position: relative !important;
}

.card-img {
  height: 100%;
}

.card-img-css:hover {
  transform: scale(1.2);
}

.card {
  height: 30rem !important;
  transition: all ease 1s;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-link {
  transition: all ease 1s;
}

.card-link:hover {
  color: skyblue !important;
}

.button {
  position: absolute;
  top: 9rem;
  right: 20%;
  opacity: 0;
  transition: opacity 0.5s;
}

.card:hover .button {
  opacity: 1;
}

.card-detail-mouse {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .textadjust {
    font-size: 0.8rem !important;
  }
}

@media screen and (max-width: 426px) {
  .button {
    right: 30%;
  }
  .headingadjust {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
