.main-class {
  margin: 0;
  padding: 0;
  font-family: roboto;
  display: flex;
  justify-content: center;
}

.login-card {
  min-height: 15em;
  position: relative;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  z-index: 2;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-family: roboto !important;
}
.login-card:after {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  opacity: 0.8;
  z-index: 3;
}
.login-card > form {
  z-index: 4;
  position: relative;
  padding: 0px 25px;
  width: 100%;
}
.logo-kapsul {
  text-align: center;
  position: relative;
  opacity: 0.8;
}
.logo {
  height: auto;
  padding: 50px 0px;
}

.group {
  position: relative;
  margin-bottom: 45px;
  margin-left: 15px;
}
.group input {
  font-size: 18px;
  padding: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  background: none;
  color: #fffdfd;
}
.group input:focus {
  outline: none;
}

.group label {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.group input:focus ~ label,
input:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: rgb(255, 255, 255);
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

.group input:focus ~ .bar:before,
.group input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 0%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.group input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from {
    background: rgb(255, 255, 255);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: rgb(255, 255, 255);
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: rgb(255, 255, 255);
  }
  to {
    width: 0;
    background: transparent;
  }
}
.input-ikon {
  font-size: 25px !important;
  position: relative;
}

.span-input {
  margin-left: 10px;
  position: relative;
  top: -5px;
}

@media screen and (max-width: 600px) {
  .main-class {
    display: block;
  }
}

.buttonColor {
  background-color: #c38fff !important;
}

.buttonColor:hover {
  background-color: #c38fff !important;
  opacity: 0.5;
}

.createAccountColor {
  color: darkblue;
}
