.adminBoxes {
  width: 16em;
}

.adminBoxesIcon {
  background-color: lightcoral;
}

.adminBoxesIcon1 {
  background-color: lightyellow;
}

.adminBoxesIcon2 {
  background-color: lightgreen;
}

.adminBoxesIcon3 {
  background-color: lightskyblue;
}
